@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}



@section featured {

}

<section class="intro" style="background-color: #282626">
        <div class="container" >
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" >
                	<span class="glyphicon glyphicon-ok" style="font-size: 60px"></span>
                    <h2 class="section-heading">Register for your vote to count</h2>
                    <p class="text-light"></p>
                </div>
            </div>
        </div>
    </section>

 <!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
                </div>
                <div class="col-sm-6">
                	<h2 class="section-header">Why Vote Online?</h2>
                	<p class="lead text-muted" style="color: #fff">Online Voting is the most effiencient and progressive method to cast your vote. Eliminating Human Error from the election and allowing for fast and error-free results.</p>
                	<a href="~/Vote.cshtml" class="btn btn-primary btn-lg">How it works</a>
                </div>                
                
            </div>
        </div>
    </section>

	<!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h2 class="section-header">Modernized Election</h2>
                	<p class="lead text-light">Online Voting can provide you with a full range of information on how the election works as well as Canada-wide statistics on the voting results as soon as the election concludes.</p>
                	<a href="~/Stats.cshtml" class="btn btn-default btn-lg">View Results</a>
                </div>    
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/iphone.jpg" alt="">
                </div>            
                
            </div>
        </div>
    </section>    

    <!-- Promos -->
	<div class="container-fluid">
        <div class="row promo">
        	<a href="~/Stats.cshtml">
				<div class="col-md-4 promo-item item-1">
					<h3>
						Learn
					</h3>
				</div>
            </a>
            <a href="~/Vote.cshtml">
				<div class="col-md-4 promo-item item-2">
					<h3>
						Vote
					</h3>
				</div>
            </a>
			<a href="~/Candidates.cshtml">
				<div class="col-md-4 promo-item item-3">
					<h3>
						Improve
					</h3>
				</div>
            </a>
        </div>
    </div><!-- /.container-fluid -->

	<!-- Content 3 -->
     <section class="content content-3" style="background-color: #282626">
        <div class="container">
			<h2 class="section-header" style="color: #fff"><span class="glyphicon glyphicon-pushpin text-primary" style="color: red"></span><br> Secure Voting</h2>
			<p class="lead text-muted">Online Voting makes it easy and accessable for anyone to vote. Registration is fast and simple, and the voting process takes only a few clicks.</p>
                    <a href="~/Account/Register.cshtml" class="btn btn-default btn-lg">Register Today</a>
            </div>
        </div>
    </section>
    
	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; Example.com </p>
        	</div>
        </div>
        
    </footer>